<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
        <ul>
            <li class="blog-nav-item active">
              <form action="/" method="get">
                <input type="submit" value="Home">
              </form>
            </li>

            <li class="blog-nav-item">
              <form action="/users/new" method="get">
                <input type="submit" value="Sign Up">
              </form>
            </li>

            <li class="blog-nav-item">
              <form action="/sessions/login" method="get">
                <input type="submit" value="Log In">
              </form>
            </li>
        </ul>
    </nav>
  </div>
</div>


<nav class="blog-nav">


</nav>